<div class="product">
    <div class="image">
        <div class="moreAbout"><i class="bi bi-hand-index"></i> para <i class="bi bi-eye-fill"></i></div>
        <img [src]="product.image" [alt]="product.name">
    </div>
    <div class="infoArea">
        <div class="areaTitle">
            <div class="title">
                {{ product.name }}
            </div>
        </div>
        <div class="bottomArea">
            <div class="price">{{ product.price | currency: 'BRL' }}</div>
            <button class="cartButton"
            (click)="clickActionButton(product)"
            [ngClass]="{addCart: !forRemove, 
                removeCart: forRemove}">
                <i class="bi"
                [ngClass]="{'bi-cart-plus': !forRemove,
                    'bi-cart-dash': forRemove}">
            </i>
        </button>
        </div>
    </div>
</div>