<div class="home container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5 searchArea">
            <app-search-area (setSearch)="setSearch($event)"></app-search-area>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7 listArea">
            <div *ngIf="showProducts; else noProducts" >
                <app-lista-de-produtos [searchBy]="search" [products]="products" [toRemove]="false" [count]="countProducts" (lm)="loadMore($event)"></app-lista-de-produtos>
            </div>
        </div>
    </div>
</div>

<ng-template #noProducts>
    <div class="noProducts">
        <div>Não foi possível carregar a lista de produtos.</div>
    </div>
</ng-template>