<div class="kartCalculatorArea">
    <div class="title">Total da Compra</div>
    <hr>
    <div class="listKart">
        <ul>
            <li class="calculation" *ngFor="let product of kartCalc"> <div class="areaTitle"><p class="title">{{ product.name }}</p></div> <b class="price">{{ product.price | currency: 'BRL' }}</b></li>
        </ul>
        <div class="total">Total: <div>{{ total | currency: 'BRL' }}</div></div>
        <button class="continueButton" [disabled]="disable"> Continuar Compra </button>
        <p class="messageErrorKeepBuying">{{ keepBuying }}</p>
    </div>
</div>