<div class="loginPage d-flex flex-row flex-wrap">
    <div class="illustration">
      <img src="../../../assets/compre_aqui_azul.jpg" alt="compre_aqui" srcset="../../../assets/compre_aqui_azul.jpg">
    </div>
    <div class="loginArea d-flex justify-content-center align-items-center">
      <div class="formArea">
        <p class="title">Log-In to StorePlace</p>
        <form class="row g-3" [formGroup]="formularioLogin" (ngSubmit)="submitForm()">
          <div class="col-md-12">
            <label for="emailFormRegister" class="form-label">Email</label>
            <input type="text" class="form-control" id="emailFormRegister"
            formControlName="email">
            <div class="invalid-feedback">
              campo inválido!
            </div>
          </div>
          <div class="col-md-12">
            <label for="senhaFormRegister" class="form-label">Senha</label>
            <input type="text" class="form-control" id="senhaFormRegister"
            formControlName="password">
            <div class="invalid-feedback">
              campo inválido!
            </div>
          </div>
          <div class="col-12">
            <app-button minWidth="50px" height="40px" bc="rgb(0, 93, 199)" radius="5px" txtc="white">Log-In</app-button>
          </div>
        </form>
      </div>
    </div>
  </div>