.myCurrency{
    width: 100%;
    padding-top: 80px;
    .currentCurrency{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .current{
            .currency{
                font-size: 22px;
                font-weight: bold;
                color: green;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        .moreCurrent{
            border: none;
            background-color: white;
            font-size: 30px;
            div{
                font-size: 16px;
            }
        }
    }
    .title{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.062);
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
    }
    .myExtract{
        border: 1px solid rgba(0, 0, 0, 0.062);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 100%;
        .extractTable{
            width:100%;
            th, td {
                padding: 0 10px;
                text-align: center;
                height: 34px;
            }
            th{
                font-size: 18px;
                background-color: rgba(0, 0, 0, 0.062);
            }
            td{
                border-left: 1px solid rgba(150, 149, 149, 0.432);
                &:first-child { border-left: none; }
            }
        }
        .extractItem{
            list-style: none;
            width: 100%;
            transition: 200ms;
            &:hover{
                background-color: rgba(0, 0, 0, 0.131);
            }
        }
    }
}

.continueButton{
    width: 100%;
    border: none;
    margin: 5px 0;
    z-index: 1;
    list-style: none;
    transition: 80ms;
    padding: 10px 10px;
    border-radius: 3px;
    z-index: 3;
    background-color: rgb(219, 217, 217);
    box-shadow: 0 2px 3px rgb(212, 211, 211);
    background-color: rgb(7, 168, 15);
    font-weight: bold;
    color: white;
}