<div class="myCurrency container">
    <div class="currentCurrency">
        <div class="current">
            <b [ngStyle]="{'font-size': '25px'}">Seu Saldo: </b>
            <div class="currency">{{ account.currency | currency: 'BRL' }}</div>
        </div>
        <button class="moreCurrent" (click)="changeCurrencyModal(modalCurrency)">
            <i class="bi bi-plus-circle-dotted"></i>
            <div>Adicionar Saldo</div>
        </button>
    </div>
    <div class="title">PEDIDOS</div>
    <div class="myExtract" *ngIf="extract$ | async as extracts; else carregandoExtrato">
        <table class="extractTable">
            <tr>
              <th>Valor Total</th>
              <th>Quantidade de Produtos</th>
              <th>Data</th>
            </tr>
            <tr class="extractItem" *ngFor="let ex of extracts">
              <td class="numberAlign">{{ ex.total | currency }}</td>
              <td>{{ ex.listProducts.length }}</td>
              <td>{{ ex.date | date }}</td>
            </tr>
          </table>
    </div>
</div>

<ng-template #modalCurrency>
    <div>
        <div class="modal-header">
            <h4 class="modal-title">Carregar Carteira &nbsp;&nbsp; <i class="bi bi-wallet2"></i></h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="spinner-border text-success" role="status" *ngIf="changeCurrency"></div>
                <br>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    Valor a ser carregado: &nbsp;&nbsp; R$<input style="width: 100px;" type="number" #currency placeholder="0.00" [readonly]="changeCurrency">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="continueButton" (click)="addCurrency(currency.value)">Carregar</button>
        </div>
    </div>
</ng-template>

<ng-template #carregandoExtrato>
    <div class="spinner-border" role="status"></div>
    <div>Carregando Pedidos</div>
</ng-template>