<div #modalContent >
    <div class="modal-header"
    [ngStyle]="{'background-color': contentMessageModal.color}">
      <h4 class="modal-title"
      [ngStyle]="{'color': contentMessageModal.color != 'white' ? 'white' : 'black'}"
      >{{ title }}</h4>
      <button [ngStyle]="{'color': contentMessageModal.color != 'white' ? 'white' : 'black'}"
      type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body"
    [ngStyle]="{'background-color': contentMessageModal.color}"
    >
      <p [ngStyle]="{'color': contentMessageModal.color != 'white' ? 'white' : 'black'}"
      >{{ contentMessageModal.text }}</p>
    </div>
  </div>