<div class="registerPage d-flex flex-row flex-wrap">
  <div class="illustration">
    <img src="../../../assets/compre_aqui.jpg" alt="compre_aqui" srcset="../../../assets/compre_aqui.jpg">
  </div>
  <div class="registerArea d-flex justify-content-center align-items-center">
    <div class="formArea">
      <p class="title">Register to StorePlace</p>
      <div class="alert alert-{{ errorMessage.color }}" role="alert" *ngIf="errorMessage.msg.length > 0">
        {{ errorMessage.msg }}
      </div>
      <form class="row g-3" [formGroup]="formularioRegister" (ngSubmit)="submitForm()">
        <div class="col-md-12">
          <label for="nomeFormRegister" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nomeFormRegister"
          formControlName="name" [ngClass]="{inputError: hasError('name')}">
          <div class="input-invalid" *ngIf="hasError('name')">
            campo inválido!
          </div>
        </div>
        <div class="col-md-12">
          <label for="emailFormRegister" class="form-label">Email</label>
          <input type="text" class="form-control" id="emailFormRegister"
          formControlName="email" [ngClass]="{inputError: hasError('email')}">
          <div class="input-invalid" *ngIf="hasError('email')">
            campo inválido!
          </div>
          <div class="input-invalid" *ngIf="formularioRegister.get('email')!.hasError('freeEmail')!"
          [ngStyle]="{'color': '#E67E22'}">
            Este e-mail já está em uso!
          </div>
        </div>
        <div class="col-md-6">
          <label for="senhaFormRegister" class="form-label">Senha</label>
          <input type="text" class="form-control" id="senhaFormRegister"
          formControlName="password" [ngClass]="{inputError: hasError('password')}">
          <div class="input-invalid" *ngIf="hasError('password')">
            campo inválido!
          </div>
        </div>
        <div class="col-md-6">
          <label for="telefoneFormRegister" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="telefoneFormRegister"
          formControlName="telefone" [ngClass]="{inputError: hasError('telefone')}">
          <div class="input-invalid" *ngIf="hasError('telefone')">
            campo inválido!
          </div>
        </div>
        <div class="col-12">
          <app-button minWidth="50px" height="40px" bc="green" radius="5px" txtc="white">
            <span *ngIf="!registerProcess">Registrar</span>
              <div class="spinner-border text-light" role="status" *ngIf="registerProcess">
                <span class="sr-only"></span>
              </div>
            </app-button>
        </div>
      </form>
    </div>
  </div>
</div>