<div class="registerPage d-flex flex-row flex-wrap">
  <div class="illustration">
    <img src="../../../assets/compre_aqui.jpg" alt="compre_aqui" srcset="../../../assets/compre_aqui.jpg">
  </div>
  <div class="registerArea d-flex justify-content-center align-items-center">
    <div class="formArea">
      <p class="title">Register to StorePlace</p>
      <form class="row g-3">
        <div class="col-md-12">
          <label for="nomeFormRegister" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nomeFormRegister">
          <div class="invalid-feedback">
            campo inválido!
          </div>
        </div>
        <div class="col-md-12">
          <label for="emailFormRegister" class="form-label">Email</label>
          <input type="text" class="form-control" id="emailFormRegister">
          <div class="invalid-feedback">
            campo inválido!
          </div>
        </div>
        <div class="col-md-6">
          <label for="senhaFormRegister" class="form-label">Senha</label>
          <input type="text" class="form-control" id="senhaFormRegister">
          <div class="invalid-feedback">
            campo inválido!
          </div>
        </div>
        <div class="col-md-6">
          <label for="telefoneFormRegister" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="telefoneFormRegister">
          <div class="invalid-feedback">
            campo inválido!
          </div>
        </div>
        <div class="col-12">
          <app-button minWidth="50px" height="40px" bc="green" radius="5px" txtc="white">Registrar</app-button>
        </div>
      </form>
    </div>
  </div>
</div>